mixin generatePage(language)

    doctype html
    html(lang=language)
        head
            +getHead(language)

        body.ami
            .mdl-layout.mdl-js-layout.mdl-layout--fixed-header

                +mdl-header(language)

                +mdl-drawer-navigation(language)

                main.mdl-layout__content
                    .page-content
                        .mdl-grid

                            .mdl-cell.mdl-cell--12-col.mdl-shadow--2dp.mha.phxl.pvlg.bg-image--devices
                                .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                                    input#domain.mdl-textfield__input.d-input(name='domain', type='text', value='')
                                    label.mdl-textfield__label(for='domain')= locales[language].page_content.url_title

                                #screenshot-wrapper.wrapper.ptxxl
                                    section.display
                                        .mobile.bg-norepeat: iframe#mobile(src=demoURL)
                                        .tablet.bg-norepeat: iframe#tablet(src=demoURL)
                                        .laptop.bg-norepeat: iframe#laptop(src=demoURL)
                                        .desktop.bg-norepeat: iframe#desktop(src=demoURL)

                            .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp.mha.mvxl
                                .mdl-card__title.mdl-color--orange
                                    h2.mdl-card__title-text.mdl-color-text--orange-50 Implementation
                                .mdl-card__supporting-text.mha
                                    p
                                        | We have implemented a
                                        code media-block
                                        |  that is similar to bootstrap&apos;s media object, but does the alignment correctly.
                                    h5 User Avatars
                                    p
                    //- TODO: add button ansd script to take screenshot
                        .mdl-grid
                            .mdl-cell.mdl-cell--12-col.mha.pbmd.mdl-typography--text-right
                                button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored
                                    i.material-icons photo_camera


                //- FOOTER
                +mdl-footer(language)

            +getFooter(language)